@import url('https://fonts.googleapis.com/css2?family=Muli:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.c-link__h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.c-link {
  text-decoration: none;
  color: crimson;
  cursor: pointer;
}

.container {
  display: flex;
  width: 90vw;
  flex-direction: row;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 1s ease-in;
}

.panel h3 {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  stroke: black;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
